body {
  background-image: url(./Assets/restaurant-pic.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  margin: auto;
  height: 100vh;
  width: inherit;
}

.title {
  color: orange;
}

.subtitle {
  color: orange;
}

/* Title and welcoming text */
.hero-body {
text-align: center;
color: orange;
max-width: 75%;
margin: 0 auto;
}

.input {
margin: 15px;
}

.is-centered {
 display: flex;
}

h4 {
  text-align: center;
  color: orange;
}

/* Box for resulting restaurant and brewery info= */
.resultBox {
  max-width: 75%;
  margin: 0 auto;
  color: orange;
}

@media only screen and (max-width: 320px) {
  body {
    height: 100vh;
    background-image: fill;
  }
/* Make buttonns and city textbox the same width in mobile */
  /* .control {
width: 300px;
  } */

  .subtitle {
    display: none;
  }

  hr {
    display: none;
  }

  .resultBox {
    display: none;
  }
}





