/* .has-bg-img {
  background-image: url(project1/Project1/Assets/restaurant-pic.jpg);
} */
/* Title and welcoming text */
.hero-body {
text-align: center;
background-color: orange;
max-width: 75%;
margin: 0 auto;
}

.cityBox {
  width: 25%;
  text-align: center;
}

.is-centered {
 display: flex;
}


/* .dropdown {
  width: 280px;
}

.select {
  width: 100%;
}

.select select {
  width: 100%;
} */


h4 {
  text-align: center;
}

/* Box for resulting restaurant and brewery info= */
.resultBox {
  max-width: 75%;
  margin: 0 auto;
}





